import os

import nox

# https://endoflife.date/python
{% if min_python_version == '3.13' %}
py_versions = ["3.13", "3.14"]
{% elif min_python_version == '3.14' %}
py_versions = ["3.14"]
{% endif %}
OLDEST_PY = py_versions[0]
MIDDLE_PY = py_versions[1:-1]
LATEST_PY = py_versions[-1]
COVERAGE_PY = list({OLDEST_PY, LATEST_PY})  # deduplicate if both are the same

nox.options.default_venv_backend = "uv|virtualenv"
nox.options.sessions = [f"tests_with_coverage-{LATEST_PY}"]


def _install_deps(session: nox.Session) -> None:
    session.run_install(
        "uv",
        "sync",
        "--group=test",
        f"--python={session.virtualenv.location}",
        env={"UV_PROJECT_ENVIRONMENT": session.virtualenv.location},
    )


def make_pytest_args(posargs: list) -> list[str]:
    pytest_args = [
        "--capture=no",
        "--verbosity=3",
        "--pythonwarnings=always",
    ]

    use_pdb = "--pdb" in posargs
    if not use_pdb:
        pytest_args.append("--numprocesses=auto")

    return pytest_args


@nox.session(python=MIDDLE_PY)
def tests(session: nox.Session) -> None:
    _install_deps(session)

    pytest_args = make_pytest_args(list(session.posargs))
    session.run("pytest", "tests/", *pytest_args, *session.posargs)


@nox.session(python=COVERAGE_PY)
def tests_with_coverage(session: nox.Session) -> None:
    _install_deps(session)

    session.run("coverage", "erase")

    env = {
        **os.environ,
        "COVERAGE_PROCESS_START": ".coveragerc",
    }
    pytest_args = make_pytest_args(list(session.posargs))
    session.run(
        "coverage",
        "run",
        "-m",
        "pytest",
        "tests/",
        *pytest_args,
        *session.posargs,
        env=env,
    )

    # combine data from parallel processes
    session.run("coverage", "combine")
    session.run("coverage", "report")
    session.run("coverage", "html")
