#:schema https://www.schemastore.org/prek.json
default_language_version.python = "{{min_python_version}}"

[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"
hooks = [
    { id = "check-added-large-files" },
    { id = "check-docstring-first" },
    { id = "check-merge-conflict" },
    { id = "check-json" },
    { id = "check-toml" },
    { id = "check-yaml" },
    { id = "end-of-file-fixer" },
    { id = "no-commit-to-branch" },
    { id = "trailing-whitespace", args = [
        "--markdown-linebreak-ext",
        "md",
    ] },
    { id = "check-case-conflict" },
]

[[repos]]
repo = "https://github.com/astral-sh/ruff-pre-commit"
rev = "v0.16.0"
hooks = [
    { id = "ruff-check", args = ["--fix"] },
    { id = "ruff-format" },
]

[[repos]]
repo = "https://github.com/DavidAnson/markdownlint-cli2"
rev = "v0.23.2"
hooks = [
    { id = "markdownlint-cli2", args = [
        "--config",
        ".markdownlint-cli2.yaml",
    ] },
]

[[repos]]
repo = "https://github.com/crate-ci/typos"
rev = "v1.48.0"
hooks = [{ id = "typos", args = ["--force-exclude"] }]

[[repos]]
repo = "https://github.com/alessandrojcm/commitlint-pre-commit-hook"
rev = "v9.24.0"
hooks = [
    { id = "commitlint", stages = [
        "commit-msg",
    ], additional_dependencies = [
        "@commitlint/config-conventional",
    ] },
]

[[repos]]
repo = "https://github.com/pre-commit/mirrors-mypy"
rev = "v2.3.0"
hooks = [{ id = "mypy", exclude = { glob = [".pdbrc"] } }]

[[repos]]
repo = "https://github.com/kjanat/actionlint"
rev = "v1.10.0"
hooks = [
    { id = "actionlint" },
]
