# https://packaging.python.org/en/latest/guides/writing-pyproject-toml/
[project]
name = "{{project_name}}"
version = "{{initial_version}}"
description = ""
authors = [
    {name = "{{author_name}}", email = "{{author_email}}"}
]
readme = "README.md"
license-files = ["LICENSE"]
requires-python = ">={{min_python_version}}"
dependencies = [
    "structlog>=26.1.0,<27.0.0",
]

[project.scripts]
{{project_name}} = "{{project_name}}.main:main"

[build-system]
requires = ["uv_build>=0.11.20,<0.12.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "ipython>=9.7.0,<10.0.0",
]
test = [
    "coverage>=7.12.0,<8.0.0",
    "pytest>=9.0.0,<10.0.0",
    "pytest-randomly>=4.0.1,<5.0.0",
    "pytest-xdist>=3.8.0,<4.0.0",
]

{% if is_github_project %}
[project.urls]
Repository = "https://github.com"
{% endif %}

[tool.uv]
exclude-newer = "7 days"

[tool.uv.build-backend]
module-name = ["{{project_name}}"]
module-root = "src"

[tool.pytest]
addopts = [
    "--strict-markers",
    "--pdbcls=IPython.terminal.debugger:TerminalPdb",
]
markers = [
    "integration",
    "slow",
    "smoke",
    "unit",
]

[tool.coverage.report]
omit = [
    "*/__init__.py",
    "noxfile.py",
    "*/tests/*"
]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "def __str__",
    "if settings.debug",
    "if TYPE_CHECKING",
]

[tool.coverage.run]
source = [
    "src/{{project_name}}/",
]
omit = [
    "*/tests/*"
]
parallel = true
concurrency = ["multiprocessing"]

[tool.ruff]
exclude = [".pdbrc"]
indent-width = 4
line-length = 90

[tool.ruff.lint]
ignore = []
select = [
    # flake8-bugbear
    "B",
    # pycodestyle errors
    "E",
    # isort
    "I",
    # flake8-no-pep420
    "INP",
    # Pyflakes
    "F",
    #flake8-logging-format
    "G",
    # flake8-logging
    "LOG",
    # pylint-pl
    "PL",
    # flake8-pytest-style
    "PT",
    # ruff-specific-rules-ruf
    "RUF",
    # flake8-bandit
    "S",
    # flake8-tidy-imports
    "TID",
    # tryceratops-try
    "TRY",
    # flake8-print
    "T20",
    # pyupgrade-up
    "UP",
    # pycodestyle warnings
    "W",
]

[tool.ruff.lint.per-file-ignores]
"tests/**.py" = [
    "S",
    # too-many-positional-arguments | needed for fixtures
    "PLR0917",
]
