# https://packaging.python.org/en/latest/guides/writing-pyproject-toml/
[project]
name = "{{project_name}}"
version = "{{initial_version}}"
description = ""
authors = [
  {name = "{{author_name}}", email = "{{author_email}}"}
]
readme = "README.md"
requires-python = ">={{python_version}}"
dependencies = [
    "ipython>=8.30.0,<9.0.0"
]

[dependency-groups]
test = [
    "coverage>=7.6.7",
    "pytest>=8.3.3",
]

[tool.ruff]
exclude = [".pdbrc"]
indent-width = 4
line-length = 90
target-version = "py{{python_version.replace('.', '')}}"

[tool.ruff.lint]
# pycodestyle (`E`), isort (`I`), Pyflakes (`F`), pycodestyle warnings (`W`)
ignore = []
select = ["E", "I", "F", "W"]

[tool.coverage.run]
source = [
  "./{{project_name}}/",
]
omit = [
  "*/tests/*"
]

[tool.pytest.ini_options]
addopts = [
    "--pdbcls=IPython.terminal.debugger:TerminalPdb",
]

[tool.coverage.report]
omit = [
  "*/tests/*"
]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "def __str__",
    "if settings.debug",
]
