{
    "changelog-type": "default",
    "extra-files": [
        "{{project_name}}/__init__.py"
    ],
    "packages": {
        ".": {}
    },
    "plugins": [
        "sentence-case"
    ],
    "release-type": "python"
}
