from importlib.metadata import version

import structlog

from {{project_name}}.logging import configure_logging

configure_logging()


def main():
    """Entrypoint for {{project_name}}."""
    logger = structlog.get_logger()
    logger.info(f"{{project_name}} v{version('{{project_name}}')}")
    return


if __name__ == "__main__":
    main()
