from importlib.metadata import version

import structlog

from {{project_name}}.logging import configure_logging

configure_logging()


def main():
    """Entrypoint for {{project_name}}."""
    logger = structlog.get_logger()
    logger.info("{{project_name}} v%s", version("{{project_name}}"))
    return


if __name__ == "__main__":
    main()
